@font-face {
    font-family: 'Candela Book';
    font-style: normal;
    font-weight: normal;
    src: local('Candela Book'), url('CandelaBook.woff') format('woff');
    }


body{
    font-family : 'Candela Book';
    font-size : 30px;

    height: 100%;

}



a{
    text-decoration:none;
    font-style:italic;
    color:rgb(0, 0, 82);
}

a:hover{
    color:dodgerblue;
}


.background-greek{
    background-image : url("background-greek.jpg");
    /* Add the blur effect */
    backdrop-filter: blur(5px);


    /* Full height */
    height: 100vh;
    width : 100%;


    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}



.text-center{
    text-align : center;
}

.text-title{
    font-size : 40px;
    text-decoration : underline;
}

.div-not-full{
    margin:auto;
    width:80%;
}

.background-image {
    background-image: url("background-greek.jpg");
    background-color: #cccccc;
   }
.titre {

    font-size : 14 px;
    text-decoration : underline;
}
.titre2 {
   
    font-size : 12 px;
    text-decoration : underline;
}